@include n-columns(200px,  10px, true, 2);

.items {
 	margin-right: 1.8em;
  .item {
    background: $blueGrey;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
  }
}

.postItem {
	a {
		color: white;
		text-shadow: none;
		background: none;
	}
}
