<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge"> <!-- † -->
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" type="text/css" href="{{path.dir}}/css/main.css">

{% if code %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/tomorrow-night-eighties.min.css">
{% endif %}

{% if blurb %}
<title>{{ page.title }} - Grimoire</title>
<meta name="description" content="{{ blurb }}" />
{% else %}
<title>Grimoire</title>
<meta name="description" content="A pseudo magic collection of thoughts and ideas" />
{% endif %}