<div class="gridNav">
<div id="toggle">
<div class="burger">
+
</div>
</div>
<!-- gridNav -->
</div>
<nav class="gridMenu">
<div class="menu closed">
<div class="navList">
	<div class="navItem">
		<a href="{{rootPath}}/">Home</a>
	</div>
{% for name,obj in category|dictsort %}
		<div class="navItem">
			<a href="{{rootPath}}/topics/{{name | lower | replace(" ","-")}}">{{name | replace("-"," ")}}</a>
		</div>
{% endfor %}

<!-- navList -->
<!-- menu closed -->
</div>
<!-- gridMenu -->
</div>
</nav>

{%if pdf %}
<div class="gridBadges sticky-top">
	<div class="badgeList">
		<a class="pdf">
			<img src="https://img.shields.io/badge/Get-PDF-2E3440.svg?style=for-the-badge" alt="Get this as a PDF" />
		</a>			
	</div>
</div>
{% endif %}