<div class="gridNav">
<div id="toggle" class="sticky-top">
<div class="burger">
+
</div>
</div>
<!-- gridNav -->
</div>
<nav class="gridMenu">
<div class="menu closed">
<div class="navList">
	<div class="navItem">
		<a href="{{rootPath}}/">Home</a>
	</div>
<div class="js-accordion" data-accordion-multiselectable="none" data-accordion-prefix-classes="minimalist">
 {% for name,data in collections | dictsort %}
 <h2 class="js-accordion__header sideHead">{{ name | capitalize }}</h2>
 <div class="js-accordion__panel">
    {% for page in data %}
        <div class="navItem subNavItem">
        <a href="{{rootPath}}/{{page.path}}/index.html" title="{{page.title}}">
          <strong>{{page.title}}</strong>
        </a>
      </div>
    {% endfor %}
 </div>
 {% endfor %}
</div>
{# <!-- Collections -->   
<ul>
      {% for name,data in collections | dictsort %}
    <h6>{{ name | capitalize }}</h6>
    {% for page in data %}
        <div class="navItem">
        <a href="{{rootPath}}/{{page.path}}/index.html" title="{{page.title}}">
          <strong>{{page.title}}</strong>
        </a>
      </div>
    {% endfor %}
    {% endfor %}
  </ul>

<!-- Tags -->

{% for name,obj in category|dictsort %}
		<div class="navItem">
			<a href="{{rootPath}}/topics/{{name | lower | replace(" ","-")}}">{{name | replace("-"," ")}}</a>
		</div>
{% endfor %} #}

<!-- navList -->
<!-- menu closed -->
</div>
<!-- gridMenu -->
</div>
</nav>

{%if pdf %}
<div class="gridBadges sticky-top">
	<div class="badgeList">
		<a class="pdf">
			<img src="https://img.shields.io/badge/Get-PDF-2E3440.svg?style=for-the-badge" alt="Get this as a PDF" />
		</a>			
	</div>
</div>
{% endif %}