<!doctype html>
<html>
  <head>
    {{> head }}
  </head>
  <body>
    <main class="mainGrid page">
      {{> header }}
      {{> nav }}
      <article class="gridBody">
        {{> toc }}
        <div class="content">
      <h1>{{ title }}</h1>
      <div class="meta">
          {{#if date}}Published: {{ date }}{{/if}}
      </div>
      {{{ contents }}} 
        </div>
    </article>
    </main>
    <script src="js/main.js"></script>
  </body>
</html>