<!doctype html>
<html>
  <head>
    {{> head }}
    {{#if katex}}
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.css" integrity="sha384-8QOKbPtTFvh/lMY0qPVbXj9hDh+v8US0pD//FcoYFst2lCIf0BmT58+Heqj0IGyx" crossorigin="anonymous"> 
    {{/if}}
  </head>
  <body>
    <main class="mainGrid page">
      {{> header }}
      {{> nav }}
      <article class="gridBody">
        {{> toc }}
        <div class="content">
      <h1>{{ title }}</h1>
      <div class="meta">
          {{#if date}}Published: {{ date }}{{/if}}
      </div>
      {{{ contents }}} 
        </div>
    </article>
    </main>
    <script src="{{rootPath}}js/main.js"></script>
    {{#if katex}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.js" integrity="sha384-GR8SEkOO1rBN/jnOcQDFcFmwXAevSLx7/Io9Ps1rkxWp983ZIuUGfxivlF/5f5eJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/contrib/auto-render.min.js" integrity="sha384-cXpztMJlr2xFXyDSIfRWYSMVCXZ9HeGXvzyKTYrn03rsMAlOtIQVzjty5ULbaP8L" crossorigin="anonymous"></script>
    <script>renderMathInElement(document.body);</script>
    {{/if}}
  </body>
</html>