{% extends 'default.njk' %}

{% block main %}

{{ contents | safe}}

<section>
  <ul>
      {% for name,data in collections | dictsort %}
    <h6>{{ name | capitalize }}</h6>
    {% for page in data %}
        <li>
        <a href="{{rootPath}}/{{page.path}}/index.html" title="{{page.title}}">
          <h7>{{page.title}}</h7>
        </a>
          <div class="date">{{ page.blurb }}</div>
      </li>
    {% endfor %}
    {% endfor %}
  </ul>
</section>

{% endblock %}