<!doctype html>
<html>
<head>
{% include 'head.njk' %}
{% block head %} {% endblock %}
</head>

<body>
<main class="mainGrid page">
{% include 'header.njk' %}
{% include 'nav.njk' %}
{% include 'toc.njk' %}
<article class="gridBody">
<div class="content">

{% block main %}

<h4> Structure </h4>

The site is divided into a multitude of collections, tags may be accessed from the left navbar.

<h4> Rationale </h4>

Each collection represents a coherent subject wise layout, while tags are meant to showcase the interdisciplinary aspects of each post.


  <ul>
      {% for name,data in collections | dictsort %}
    <h6>{{ name | capitalize }}</h6>
    {% for page in data %}
        <li>
        <a href="{{rootPath}}/{{page.path}}/index.html" title="{{page.title}}">
          <strong>{{page.title}}</strong>
        </a>
          <div class="date">{{ page.blurb }}</div>
      </li>
    {% endfor %}
    {% endfor %}
  </ul>
{% endblock %}
</div>

</article>

{% include 'footer.njk' %}
</main>

{% block scripts %} {% endblock %}
<script src="{{ rootPath }}js/main.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/van11y-accessible-accordion-aria@2.0.1/dist/van11y-accessible-accordion-aria.min.js"></script>-->
</body>
</html>