<!doctype html>
<html>
<head>
{{> head }}
</head>
<body>
<div class="mainGrid page">
{{> header }}
{{> nav }}
<div class="gridBody">
{{> toc }}    
<div class="content">
{{{contents}}}
</div>
</div>
   
{{> footer }}
</div>

<script src="{{ rootPath }}js/main.js"></script>
</body>
</html>