{% extends 'default.njk' %}

{% block main %}

{% if metaTitle %}
<h1>{{ title }}</h1>
<h3>{{ subtitle }}</h3>
  <div class="meta">
    {% if publishDate %}Published: <time>{{ publishDate }}</time>{% endif %}    {% if modifiedDate %}Updated: <time>{{ modifiedDate }}</time> {% endif %}
  </div>
{% endif %}

{{contents | safe }}

<section>
  <div class="items">
    {% for name,obj in category|dictsort %}
      <div class="postItem item">
        <a href="{{rootPath}}topics/{{name | lower | replace(" ","-")}}">
        {{name | replace("-"," ")}}
        </a>
      </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
