{% extends 'default.njk' %}

{% block main %}
<section>
        <ul class="catList">
          <h3 class="category">{{ tag }}</h3>
    {% for page in pagination.files %}
      <li>
        <a href="{{rootPath}}/{{page.path}}/index.html" title="{{page.title}}">
          <strong>{{page.title}}</strong>
        </a>
          <div class="date">{{ page.blurb }}</div>
      </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
