{% extends 'default.njk' %}

{% block main %}
<section>
  <h5>{{tag}}</h5>
  <ul>
    {% for page in pagination.files %}
      <li>
        <a href="{{rootPath}}/{{page.path}}/index.html" title="{{page.title}}">
          <strong>{{page.title}}</strong>
        </a>
          <div class="date">{{ page.blurb }}</div>
      </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}